.profile-img {
    width: 40px;
}
.side-nav a {
    opacity: 0.5;
}
.side-nav a.active {
    opacity: 1;
}
.grey-icon {
    color: #D2D2D2;
}
.grey-clr {
    color: #D2D2D2;
}
.inactive-text {
    color: #cccccc;
}
.hyphens {
    width: 100px;
    border: 1px dashed #cccc;
    height: 1px;
}
.carplate img{
    max-width: 100px;
    width: 100%;
}
@media screen and (max-width:576px){
    .border-hide {
        border: 0 !important;
    }
    .box{
        height: calc(100dvh - 260px);
    }
}