.box{
    height: calc(100dvh - 210px);
}
.customtable th{
    color:#A1A1AA; 
}
.customtable{
    font-size: 14px;
    min-width: 900px;
}
.customtable tr{
    vertical-align: middle;
}
.customtable th,
.customtable tr,
.customtable td{
    text-wrap: nowrap;
}
.tblicon{
    width: 30px;
    height: 30px;
}
.page-link{
    color: black;
}
.box1{
    border: solid;
    height: calc(100dvh - 110px);
}
.info{
    border: dashed 3px #d1bdbd;
    border-radius: 30px;
    padding: 70px 120px;
}