.profile-img {
    width: 40px;
}
.side-nav a {
    opacity: 0.5;
}
.side-nav a.active {
    opacity: 1;
}
.grey-icon {
    color: #D2D2D2;
}
.grey-clr {
    color: #D2D2D2;
}
.inactive-text {
    color: #cccccc;
}
.hyphens {
    width: 100px;
    border: 1px dashed #cccc;
    height: 1px;
}
.carplate img{
    max-width: 100px;
    width: 100%;
}
.bg-orng {
    background: #FBB91D;
}
.logo-login img{
    max-width: 200px;
    width: 100%;
}
.login-h {
    min-height: 100dvh;
}
.bg-lpink{
   background: #ffe3dd;
   height: 10px;
}
.bg-progress {
    background: linear-gradient(to right, #FFBF1A,#FF4080);
}
.bg-progress2 {
    background: linear-gradient(to right, #2FEA9B,#7FDD53);
}
.navhght{
    height: 80px;
}
.botmdiv{
    margin-top: 20px;
    height: calc(100dvh - 120px);
    overflow: auto;
}
.main{
    height: 100dvh;
}

.logout-btn {
    background: #f5f5f5;
    top: 105%;
    right: 0;
    display: none;
}
.down {
    display: none;
}
@media screen and (max-width:576px){
    .border-hide {
        border: 0 !important;
    }
    .box{
        height: calc(100dvh - 320px);
    }
}